<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Phorest-Techtest</title>
</head>
<body>
<h1>hello</h1>
<div>
    <form action="/client">
        <input type="email" name="email" placeholder="enter email"/>
        <input type="text" name="mobile" placeholder="enter phone number"/>
        <button>Submit</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>First Name</tr>
            <tr>Last Name</tr>
            <tr>email</tr>
            <tr>phone</tr>
        </thead>
        <tbody>
            <th:block th:each="clientC : ${clientCollection}">
                <tr>
                    <td th:text="${clientCollection.firstName}">...</td>
                    <td th:text="${clientCollection.lastName}">...</td>
                    <td th:text="${clientCollection.email}">...</td>
                    <td th:text="${clientCollection.phone}">...</td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>
</body>
</html>