<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Phorest-Techtest</title>
</head>
<body>
<h1>Phorest Techtest </h1>
<h2>Aaron McCormack</h2>
<div>
    <form action="/client">
        <label>Search by Email:</label>
        <input type="email" name="email" placeholder="enter email"/>
        <label>Search Mobile:</label>
        <input type="text" name="mobile" placeholder="enter phone number"/>
        <button>Submit</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Phone</td>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="c : ${clientList}">
                <tr>
                    <td th:text="${c.firstName}">...</td>
                    <td th:text="${c.lastName}">...</td>
                    <td th:text="${c.email}">...</td>
                    <td th:text="${c.mobile}">...</td>
                    <!-- <td><a th:href="@{'/voucher/client?clientId=' + ${c.clientId}}">Add Voucher</a></td> -->
                </tr>
            </th:block>
        </tbody>
    </table>
</div>
</body>
</html>