<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Voucher - Phorest-Techtest</title>
</head>
<body>
<h1>Create Voucher</h1>
<form method="post" action="#" th:action="@{/voucher}" th:object="${voucherDto}">
    <label>Input Voucher Amount</label>
    <input type="hidden" th:value="c.clientId"/>
    <input type="number" min="0" name="originalBalance"/>
    <button>Submit</button>
</form>
</body>
</html>